{% extends 'base.html' %}

{% block title%}
Онлайн магазин
{%endblock%}

{%block body%}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Онлайн магазин</font></font></h1>
      <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Товары и цены</font></font></p>
    </div>


  <main>
    <div class="card-deck mb-3 text-center">
    {% for i in data%}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3  border-primary">
            <h4 class="my-0 fw-normal"><font style="vertical-align: inherit;">{{i.title}}</font></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{i.price}}</font></font><small class="text-body-secondary fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> руб.</font></font></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{i.size}}</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{i.color}}</font></font></li>
            </ul>
            <a href="/buy/{{i.id}}" class="w-40 btn btn-lg btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Купить</font></font></a>
          </div>
        </div>
      </div>

      {% endfor%}
    </div>
  </main>
{% endblock%}